* {
	margin: 0;
	padding: 0;
}

:root {
	--title-italic: 'Bauer Bodoni Pro_1 W01 Roman' , serif;
	--title-font: 'Montserrat', sans-serif;
	--small-title-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--text-font: 'Times New Roman', Times, serif;
	--button-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--description-font: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    --main-yellow: #ffce3a;
    --main-grey: #ebebeb;
    --main-purple: #b079ff;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 5%, 5%;
	overflow-x: hidden;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.project-description {
    text-align: left;
    padding: 10% 20%;
}

h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

h4 {
    font-size: 24px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0 30px;
}

footer {
    background-color: #000000;
    text-align: center;
    color: white;
    padding: 5px;
}

footer p {
    font-size: 12px;
}

/* Main menu */

#main-menu {
	background-color: rgba(0, 0, 0, 0.8);
    /* background-color: var(--main-yellow); */
	position: fixed;
	width: 100%;
	z-index: 99;
}

#main-menu ul {
	text-align: center;
	list-style-type: None;
	flex-grow: 4;
    /* margin: 0; */
}

#main-menu a {
	display: block;
	text-decoration: None;
	padding: 5px 0;
	transition: 0.5s;
	font-family: var(--button-font);
	font-size: 14px;
	letter-spacing: 1px;
	/* color: var(--main-yellow); */
    color: white;
}

#main-menu a:hover {
    text-decoration: underline;
}

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/jacaranda.jpeg);
    /* background-image: url(../images/jacaranda.jpeg); */
	background-size: cover;
	background-position: center center;
	text-align: center;
	min-height: 600px;
    /* filter: grayscale(90%); */
}

header hr {
    width: 60%;
    margin: 0 20%;
    /* box-shadow: 5px 5px 5px black; */
}

.banner-title {
	/* background-color: #b298dc90; */
	height: 400px;
	padding: 5%;
	display: block;
	align-items: center;
}

.banner-title {
	padding-top: 200px;
	color: white;
}

.banner-title h1 {
    font-size: 40px;
    /* color: var(--main-yellow); */
	color: white;
    /* text-shadow: 5px 5px 5px black; */
	padding: 5%;
	letter-spacing: 10px;
	font-family: var(--title-font);
}

.banner-title h3 {
	padding-top: 5%;
	/* color: var(--main-yellow); */
	color: white;
    /* text-shadow: 5px 5px 5px black; */
	font-family: var(--title-font);
	font-size: 26px;
	letter-spacing: 5px;
	/* font-style: italic; */
}

.banner-title p {
	padding: 5% 10%;
	font-family: var(--description-font);
	letter-spacing: 1px;
	line-height: 30px;
}

header .cta-button {
	padding-bottom: 65px;
}

header .cta-button a {
	background-color: rgb(255, 255, 255, 0);
    border: var(--main-yellow) solid 1.5px;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--main-yellow);
	font-family: var(--button-font);
	letter-spacing: 1px;
	transition: 0.5s;
}

header .cta-button a:hover {
	background-color: var(--main-yellow);
	padding: 15px 30px;
	color: black;
    border: none;
}

/* about-me */

#about-me {
    text-align: center;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 750px; */
}

#about-me figure {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100%;
}

#about-me figure img {
    width: 100%;
    object-fit: cover;
}

#about-me .description {
    padding-left: 50px;
}

#about-me .description h2 {
    padding-bottom: 20px;
    /* font-size: 40px; */
}

#about-me .description p {
    text-align: left;
    font-size: 20px;
}

/* pictures */

.pictures > div {
	margin: 30px 0;
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.pictures > figure {
	margin: 30px 0;
    width: 100%;
}

.pictures {
	position: relative;
    /* width: 100%; */
    /* height: 400px; */
}

.pictures img {
	vertical-align: middle;
	object-fit: contain;
	height: 100%;
	width: 100%;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 30%);
}

/* sections */

#A1 {
    background-color: var(--main-yellow);
}

#A3 {
    background-color: var(--main-yellow);
}

#reflection {
    background-color: var(--main-yellow);
}

/* Pictures fade in animation */

.fade-in {
	opacity: 0;
	transition: 2s ease-in-out;
	grid-column: 2/3;
}

.fade-in.appear {
	opacity: 1;
}

.from-left {
	grid-column: 2/3;
	transform: translateX(-70%);
}

.from-right {
	grid-column: 2/3;
	transform: translateX(70%);
}

.from-left.appear, .from-right.appear {
	transform: translateX(0);
}


/* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

/* Slideshow's buttons */

.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: -50px;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	/* color: var(--main-purple); */
    color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 5px;
	user-select: none;
	background-color: var(--main-grey);
    /* background-color: var(--main-purple); */
}

.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: -50px;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	/* color: var(--main-purple); */
    color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 5px;
	user-select: none;
	/* background-color: rgb(255, 255, 255, 0.3); */
    background-color: var(--main-grey);
}

.prev:hover, .next:hover {
	background-color: var(--main-purple);
	color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Tablet Size Overrides */
@media only screen and (min-width: 700px) {

	body {
		background: rgb(255, 255, 255);
	}

	/* Menu */

	#main-menu ul{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		list-style-type: None;
		align-items: center;
		padding: 10px 20px;
	}

	#main-menu a {
		padding: 0 10px;
	}

    /* Banner */

    .banner-title h1 {
        font-size: 60px;
    }

    /* about-me */

    #about-me {
        display: flex;
        flex-direction: row;
        /* align-items: flex-start; */
    }

    #about-me .description {
        padding: 0 50px;
    }

}